

.itemlistcontainer{
    padding: 2em;
    background: rgb(160,120,64);
background: linear-gradient(90deg, rgba(160,120,64,1) 0%, rgba(237,233,230,1) 100%);
}

.itemlistcontainer h2{
    font-size: 3rem;
}